<div id="body">
	<h1>Respuesta automática</h1>
	<div class="separador"></div>
	<h2>Tu mensaje ha sido recibido correctamente</h2>
	<p><%-mensaje%></p>
	<br></br>
	<p>nombre: <%-nombre%></p>
	<p>empresa: <%-empresa%></p>
	<p>ciudad: <%-ciudad%></p>
	<p>dirección: <%-direccion%></p>
	<p>telefono: <%-telefono%></p>
	<br></br>
	<br></br>
	Gracias por contactarnos.<br></br>
	<a href="http://actuartolima.com"><img width='300px' src='http://actuartolima.com/img/logoactuartolimagrande.png'/></img></a>
	<p>Favor no responder este mensaje.</p>
</div>