<div id="body">
	<h1>Respuesta autom치tica</h1>
	<div class="separador"></div>
	<h2>Tu solicitud ha sido enviada, Pr칩ximamente uno de nuestros asesores se pondr치 en contacto con usted.</h2>
	<p><%-mensaje%></p>
	<br></br>
	<p>nombre: <%-nombre%></p>
	<p>ciudad: <%-ciudad%></p>
	<p>direccion: <%-direccion%></p>
	<p>telefono: <%-telefono%></p>
	<br></br>
	<br></br>
	<a href="http://actuartolima.com"><img width='300px' src='http://actuartolima.com/img/logoactuartolimagrande.png'/></img></a>
	<p>Este es un mensaje autom치tico. Favor no responder este mensaje.</p>
</div>