Respuesta automática
Tu solicitud ha sido enviada, Próximamente uno de nuestros asesores se pondrá en contacto con usted.
<%-mensaje%>

nombre: <%-nombre%></p>
ciudad: <%-ciudad%></p>
dirección: <%-direccion%></p>
telefono: <%-telefono%></p>

Este es un mensaje automático.
Favor no responder este mensaje.
