<div id="body">
	<h1>Respuesta automática</h1>
	<div class="separador"></div>
	<h2>Preinscripción realizada correctamente al curso <%-curso%></h2>
	<br></br>
	<br></br>
	<p>curso: <%-curso%></p>
	<p>nombre: <%-nombre%></p>
	<p>telefono1: <%-telefono1%></p>
	<p>telefono2: <%-telefono2%></p>
	<br></br>
	<br></br>
	<a href="http://actuartolima.com"><img width='300px' src='http://actuartolima.com/img/logoactuartolimagrande.png'/></img></a>
	<p>Mensaje de respuesta automático, Favor no responder este mensaje.</p>
</div>